# Coinbase Developer Platform (CDP) Paymaster
# Obtain from https://cdp.coinbase.com -> Onchain Tools -> Paymaster
# Example: https://api.developer.coinbase.com/rpc/v1/base/YOUR_CDP_API_KEY
CDP_PAYMASTER_URL=""

# Base RPC URL
BASE_RPC_URL="https://mainnet.base.org"

# WalletConnect / RainbowKit Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="609c3f719017e2f84355ce230448a9f5"
